table{
    border: 3px solid #A6584C;
    border-collapse: collapse;
}

th, td{
    border: 3px solid #A6584C;
    padding: 5px 10px;
    text-align: center;
}

th{
    color: #4C92A6;
    background-color: #F6FFEA;
}

td{
    background-color: #EBFBFF;
}

@media (max-width:450px) {
    table{
        border: 2px solid #A6584C;
        width: 100%;
    }
    
    th, td{
        border: 2px solid #A6584C;
        padding: 2px 5px;
        text-align: center;
    }
}
